<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <br />
        <h6>Lịch sử giao dịch</h6>
        @{
            TechMarket.Models.SGDFleaMarketEntities db = new TechMarket.Models.SGDFleaMarketEntities();
            int idcus = int.Parse(User.Identity.Name);
            var result = db.tbl_Coin.Where(x => x.id_account == idcus).ToList().OrderByDescending(x=>x.Id);
                <table class="table table-hover">
                    <tr>
                        <th>Giá trị</th>
                        <th>Thời gian</th>
                        <th>Chi tiết</th>
                    </tr>
                    @foreach (var item in result)
                    {
                        if (@item.coin_total > 0)
                        {
                            <tr style="color:forestgreen;font-size:13px;">
                                <td><b>@item.coin_total</b></td>
                                <td><b>@item.coin_date</b></td>
                                <td><b>@item.coin_details</b></td>
                            </tr>
                        }
                        else
                        {
                            <tr style="color:red">
                                <td><b>@item.coin_total</b></td>
                                <td><b>@item.coin_date</b></td>
                                <td><b>@item.coin_details</b></td>
                            </tr>
                        }
                    }
                </table>
        }
    </div>
    <div class="col-sm-2"></div>
</div>
