
@{
    ViewBag.Title = "browse";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<h2>Duyệt tin đăng bán</h2>

<div class="product_groud">
    @{
        TechMarket.Models.SGDFleaMarketEntities db = new TechMarket.Models.SGDFleaMarketEntities();
        int idcs = int.Parse(User.Identity.Name);
        var result = db.tbl_Product.ToList();
        int dem = 0;
        foreach (var so in result)
        {
            if (so.status == 0)
            {
                dem++;
            }
        }
        if (dem == 0)
        {
            <p>Hiện chưa có tin nào đang chờ duyệt!</p>
        }
    }
    @foreach (var item in result)
    {
        if (item.status == 0)
        {
            <div class="product">
                <div class="pr_img">
                    <a href="@Url.Action("showDetails","Product", new {id = item.Id })">
                        <img src=@Url.Content("~/Images/Product/"+item.product_images) alt="" />
                    </a>
                </div>
                <div class="pr_text">
                    @{
                        if (item.id_shop != null)
                        {
                            var cusshop = db.tbl_Shop.Find(item.id_shop);
                            string name = cusshop.shop_name;
                            <p>Người bán: @name</p>
                        }
                        else
                        {
                            var cusname = db.tbl_Account.Find(item.id_account);
                            string name = cusname.fullname;
                            <p>Người bán: @name</p>
                        }
                    }
                    <h3>@item.product_title</h3>
                    @{
                        var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                    }
                    <h5 style="color:red;">@String.Format(format, "{0:c0}", item.product_price)</h5>
                    <div class="txt_bottom">
                        <p><i class="bx bxs-map"></i> VietNam</p>
                        <p class="p1">Như mới</p>
                        <p>
                            <a href="@Url.Action("DuyetTin", new { id = item.Id })">Duyệt tin</a>
                            <a href="~/Manage/DeleteProduct?idsp=@item.Id">Xóa</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    }
</div>
