
<div class="container">
    <h4><i>Nạp xu</i></h4>
        <a class="btn btn-block btn1" href="@Url.Action("ThanhToan", new { gia = "20000" })">Nạp 20.000 Xu <i class="fas fa-coins"></i> Giá 20.000 VNĐ</a>
        <a class="btn btn-block btn1" href="@Url.Action("ThanhToan", new { gia = "50000" })">Nạp 50.000 Xu <i class="fas fa-coins"></i> Giá 50.000 VNĐ</a>
        <a class="btn btn-block btn1" href="@Url.Action("ThanhToan", new { gia = "100000" })">Nạp 100.000 Xu <i class="fas fa-coins"></i> Giá 100.000 VNĐ</a>
        <a class="btn btn-block btn1" href="@Url.Action("ThanhToan", new { gia = "200000" })">Nạp 200.000 Xu <i class="fas fa-coins"></i> Giá 200.000 VNĐ</a>
        <a class="btn btn-block btn1" href="@Url.Action("ThanhToan", new { gia = "500000" })">Nạp 500.000 Xu <i class="fas fa-coins"></i> Giá 500.000 VNĐ</a>
        <a class="btn btn-block btn1" href="@Url.Action("ThanhToan", new { gia = "1000000" })">Nạp 1.000.000 Xu <i class="fas fa-coins"></i> Giá 1.000.000 VNĐ</a>
        <a class="btn btn-block btn1" href="@Url.Action("ThanhToan", new { gia = "2000000" })">Nạp 2.000.000 Xu <i class="fas fa-coins"></i> Giá 2.000.000 VNĐ</a>
        <a class="btn btn-block btn1" href="@Url.Action("ThanhToan", new { gia = "5000000" })">Nạp 5.000.000 Xu <i class="fas fa-coins"></i> Giá 5.000.000 VNĐ</a>
</div>

<style>
    .btn1{
        margin-top:20px;
        padding: 15px;
    }
</style>